@font-face {
  font-family: "Barlow-Regular";
  src: url("fonts/Barlow-Regular.woff2") format("woff2"),
    url("fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #eff6ff;
  font-family: "Barlow-Regular", Arial, sans-serif;
  color: #2a4a5c;
}

h1 {
  font-size: calc(20px + 16 * (100vw / 1280));
  font-weight: 500;
}

h2 {
  font-size: calc(16px + 16 * (100vw /1280));
  font-weight: 500;
}

button {
  border: none;
  background-color: transparent;
  padding: 5px;
  width: 250px;
  height: 45px;
}

button:hover {
  -webkit-box-shadow: 0px 0px 6px 2px rgba(34, 60, 80, 1);
  -moz-box-shadow: 0px 0px 6px 2px rgba(34, 60, 80, 1);
  box-shadow: 0px 0px 6px 2px rgba(34, 60, 80, 1);
  transition: box-shadow 0.1s ease-in-out;
  cursor: pointer;
}

/* Основной контейнер */
.container {  
  margin: 20px auto;
  background-color: #ffffff;
  width: 320px;
}

/* Блок регистрации */
.register-page {
  width: 250px;
  margin: auto;
  padding: 20px 0;
}

/* Слоган */
.register-page_slogan {
  color: #a9b6bc;
}

/* Шапка блока регистрации */
.register-page_header {
  margin-bottom: 20px;
  text-align: center;
}

/* Блок формы регистрации через соц. сети */
.register-form_social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Кнопки социальных сетей */
.register-form_social__button {
  position: relative;
  margin-bottom: 5px;
  color: white;
}

/* Кнопка фейсбука */
.register-form_social__button--f {
  background-color: #255a9b;
}

/* f */
.register-form_social__button--f::before {
  position: absolute;
  top: 12px;
  left: 15px;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/facebook.svg") no-repeat;
  background-size: contain;
}

/* Кнопка Линкедин */
.register-form_social__button--l {
  background-color: #0076b6;
}

/* in */
.register-form_social__button--l::before {
  position: absolute;
  top: 12px;
  left: 15px;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/linkedin.svg") no-repeat;
  background-size: contain;
}

/* OR */
.serp-page {
  position: relative;
  width: 250px;
  text-align: center;
  font-size: 12px;  
  margin: auto;
  margin-bottom: 20px;
}

/* OR after */
.serp-page::after {
  position: absolute;
  content: "";
  background-color: #e5e5e5;
  width: 90px;
  height: 1px;
  top: 50%;
  left: 15px;
}

/* OR before*/
.serp-page::before {
  position: absolute;
  content: "";
  background-color: #e5e5e5;
  width: 90px;
  height: 1px;
  top: 50%;
  right: 15px;
}

/* Блок регистрации по почте или телефону */
.register-form_other {
  width: 250px;
  margin-bottom: 30px;
}

/* Оформление инпутов */
.register-form_input {
  width: 250px;
  height: 55px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 10px;
  margin-bottom: 5px;

  font-size: 14px;

  border: 1px solid #efefef;
}

/* Оформление инпутов при фокусе */
.register-form_input:focus {
  outline: none;
  border-left: 1px solid #3597fc;
}

/* Блок инпутов */
.register-form_input__container {
  position: relative;
}

/* Email */
.register-form_input--email::before {
  position: absolute;
  content: "Email";
  top: 5px;
  left: 10px;
  font-size: 14px;
  color: #bcccdb;
}

/* Phone */
.register-form_input--tel::before {
  position: absolute;
  content: "Phone";
  top: 5px;
  left: 10px;
  font-size: 14px;
  color: #bcccdb;
}

/* Блок с заголовками про инвестирование*/
.register-investor {
  text-align: center;
  margin-bottom: 30px;
}

/* Заголовок про инвестирование */
.register-investor_title {
  color: #254c5d;
}

/* Дополнительный текст про инвестирование */
.register-investor_slogan {
  color: #a9b6bc;
  font-size: 14px;
}

/* Кнопки выбора инвестирования */
.register-investor_radio {  
  display: grid;
  grid-template-columns: 125px 125px;
  grid-template-rows: auto;
  margin-bottom: 15px;
}

/* Виды инвестирования */
.investor-radio_label {
  color: #303030;
  box-sizing: border-box;
  padding: 5px;
  font-size: 13px;
}

/* Блок подсказок */
.register-investor_info {
  -webkit-box-shadow: 0px 0px 24px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 24px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 24px 0px rgba(34, 60, 80, 0.2);
  transition: box-shadow 0.1s ease-in-out;
  padding: 5px;
  margin-bottom: 20px;
}

.investor-info_text {
  color: #9f9f9f;
  font-size: 12px;
}

.create-account {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-account_approval {
  margin-bottom: 20px;
}

.create-account_label {
  font-size: 14px;
}

.create-account_button {
  position: relative;
  margin-bottom: 5px;
  color: white;
  background-color: #3597fc;
  border-radius: 5px;
}

@media (min-width: 767px) {
  h1 {
    font-size: calc(20px + (16 + 16 * 0.7) * ((100vw - 320px) / 680));
  }

  .register-page {
    width: 500px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .container { 
    width: 520px;
  }

  .register-page {
    width: 510px;
  }

  .register-form_social {
    flex-direction: row;
    gap: 10px;
  }

  .register-form_other {
    display: flex;
    gap: 10px;
    width: 510px;
  }

  .register-form_input {
    width: 245px;
  }

  .register-investor_radio {
    display: flex;
    justify-content: space-between;
  }

  .register-investor_info {
    width: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .container { 
    width: 800px;
  }
}

@media screen and (min-width: 1280px) {
  h1 {
    font-size: calc(20px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
  }


  .container { 
    width: 1200px;
    display: flex;
  }

  .create-account {
    display: flex;
    flex-direction: column;
  }

  .container-bg {
    position: relative;
    background: url('../img/bg.jpg') no-repeat;
    width: 50%;
    height: 95vh;
    background-size: cover;
  }

  .container-bg_logo {
    position: absolute;
    top: 45px;
    left: 50px;
    background: url("../img/logo.svg") no-repeat;
    background-size: contain;
    width: 150px;
    height: 35px;
  }
}

